*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    color: #333;
    font-size: 2rem;
    
}



[name="paragrafo"]{
    color: #666;
    font-size: 1.5rem;
}

[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
[type="button"]{
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}